#projects {
    padding-bottom: 5rem;
    text-align: center;
}

.projects_items_container {
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fit,minmax(600px,1fr));
}

.projects_items_container .items {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    border-bottom: 0px;
    padding-bottom: 0px;
    background: var(--secondary);   
    background: linear-gradient(to left, var(--secondary) 50%, var(--accent) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    overflow: hidden;
    align-content: flex-start;
}

.projects_items_container .items:hover{
    background-position: left;
}

.projects_items_container .items:hover .projects_skills_left>div{
    background-color: var(--text);
    color: var(--accent);
}

.projects_image_container>img {
    display: block;
    max-width: 100%;
}

.projects_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;  
    text-align: left;
}

.projects_content_container .description {
    height: 150px;
}

.projects_content_container a {
    text-decoration: underline;
}

.projects_content_container a:hover, .projects_content_container a:active, .projects_content_container a:focus{
    color: var(--text);
}

.projects_content_container .projects_skills {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem; 
}

.projects_content_container .projects_skills_left>div {
    float: left;
    border-radius: 15px;
    padding: 1px 12.5px;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--text);
    background-color: var(--accent);
    margin-right: 0.5rem;
    transition: .3s ease-out;
}

.projects_content_container .projects_skills_right img.github {
    width: 30px;
}

.projects_content_container .projects_skills_right img.external {
    width: 20px;
}

@media (max-width: 767px) {
    .projects_items_container {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }

    .projects_content_container {
        padding: 20px;
    }

    .projects_content_container .projects_skills {
        flex-direction: column;
        align-items: flex-start;
    }

    .projects_content_container .projects_skills .projects_skills_left div {
        margin-bottom: 10px;
    }

    .projects_content_container .projects_skills .projects_skills_right {
        margin: 10px auto 0 auto;
    }

    .projects_content_container .description {
        height: unset;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .projects_content_container .description {
        height: unset;
        padding-bottom: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .projects_items_container {
        grid-template-columns: 1fr 1fr;
    }

    .projects_content_container .description {
        height: 250px;
    }
}

@media (min-width: 1201px) and (max-width: 1400px){
    .projects_items_container {
        grid-template-columns: 1fr 1fr;
    }

    .projects_content_container .description {
        height: 200px;
    }
}